.article-work {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  max-width: 420px;
  min-width: 200px;
  row-gap: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Title styles */
.article-work h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  /* color: #333; */
}

/* Content styles */
.article-work p {
  font-size: 16px;
  color: #777;
  max-width: fit-content;
  min-width: 80px;
  margin-right: 30px;
}
.dark-mode .article-work p {
  color: #fff;
}
/* Work item styles */
.work-item {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

/* Work item title styles */
.work-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  /* color: #333; */
}
.dark-mode .work-item-title {
  color: #fff;
}

/* Work item duration styles */
.work-item-duration {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.work-item-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.work-item-content-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setItemWork {
  padding: 5px;
}

.work-item-role {
  width: fit-content;
}
.work-item-duration {
  width: auto;
}
