.skills-widget {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  max-width: 420px;
  row-gap: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.skills-widget h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.dark-mode .skills-widget h2 {
  color: #fff;
}
.skills-widget p {
  font-size: 16px;
  color: #777;
}
.dark-mode .skills-widget p {
  color: #fff;
}
.skills-widget ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.work-item {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.work-item-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.setItemWork {
  padding: 5px;
}

.work-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.work-item-content-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-item-proficiency {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  height: 32px;
  background: #f0f0f0;
  width: 360px;
}

.proficiency-bar {
  height: 100%;
  background-color: #14b8a6;
  border-radius: 4px;
}
